body
{
    font-family: sans-serif;
    height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
}
header 
{
    margin-top: 0;
    position: relative;
    background-color: var(--dark-color);
    background-color: rgb(41, 41, 41);
    opacity: 100%;
    width: 100%;
    height: 80px;
    color: white;
    font-size: 13px;
}
header .titulo
{
    text-align: center;
    position: static;
    margin-top: 1px;
    animation: color-change 5s infinite;
}
@keyframes color-change {
    0% {color: white;}
    10% {color: #FF0000;}
    20% {color: #e77811;}
    30% {color: rgb(250, 225, 0);}
    40% {color: rgb(166, 255, 0);}
    50% {color: rgb(30, 255, 0);}
    60% {color: rgb(0, 251, 147);}
    70% {color: rgb(0, 195, 255);}
    80% {color: rgb(0, 47, 255)}
    90% {color: rgb(76, 0, 255);}
    100% {color: rgb(225, 0, 255);}
  }
header .volver
{
    display: block;
    position: relative;
    text-align: left;
    top: 40%;
    left: 30px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}
header .volver:hover
{
    color: rgb(55, 99, 194);
    text-decoration: underline;
}
.canvas
{
    margin-top: 20px;
}
input 
{
    margin-top: 30px;
    width: 768px;
}