body
{
    font-family: sans-serif;
    height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
}
header 
{
    margin-top: 0;
    position: relative;
    background-color: var(--dark-color);
    background-color: rgb(41, 41, 41);
    opacity: 100%;
    width: 100%;
    height: 80px;
    color: white;
    font-size: 13px;
}
header .titulo
{
    text-align: center;
    position: static;
    margin-top: 1px;
}
header .volver
{
    display: block;
    position: relative;
    text-align: left;
    top: 40%;
    left: 30px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}
header .volver:hover
{
    color: rgb(55, 99, 194);
    text-decoration: underline;
}
input 
{
    margin-top: 50px;
    width: 768px;
}