body
{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}
nav 
{
    background-color: var(--dark-color);
    background-color: rgb(41, 41, 41);
    opacity: 100%;
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    width: auto;
    height: 80px;
    text-align: center;
    color: white;
    font-size: 18px;
}

@keyframes color-change {
  0% {color: white;}
  10% {color: #FF0000;}
  20% {color: #e77811;}
  30% {color: rgb(250, 225, 0);}
  40% {color: rgb(166, 255, 0);}
  50% {color: rgb(30, 255, 0);}
  60% {color: rgb(0, 251, 147);}
  70% {color: rgb(0, 195, 255);}
  80% {color: rgb(0, 47, 255)}
  90% {color: rgb(76, 0, 255);}
  100% {color: rgb(225, 0, 255);}
}

nav .titulo
{
  animation: color-change 5s infinite;
  padding: 24px;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
    /*===== Colores =====*/
    --first-color: #F2A20C;
    --white-color: #E9EAEC;
    --dark-color: #272D40;
    --dark-color-lighten: #F2F5FF;
    /*===== Fuente y tipografia =====*/
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
  
  /*===== BASE =====*/
  *, ::before, ::after {
    box-sizing: border-box;
  }
  
  h1, p {
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: rgb(73, 118, 240);
    
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  /*===== CARD =====*/
  .container {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-color-lighten);
    
  }
  
  .card {
    width: 320px;
    height: 400px;
    background-color: var(--dark-color);
    border-radius: 1rem;
    padding: 4rem 2rem 0;
    color: var(--white-color);
    overflow-y: hidden;
    margin: 10px;
  }
  
  .card__img {
    position: absolute;
    width: 260px;
    filter: drop-shadow(5px 10px 15px rgb(156, 156, 156));
  }
  
  .card__data {
    transform: translateY(13.2rem);
    text-align: center;
  }
  
  .card__title {
    font-size: var(--h1-font-size);
    color: var(--first-color);
    margin-top: .5em;
  }
  
  .card__preci {
    display: inline-block;
    font-size: var(--h2-font-size);
    font-weight: 500;
    margin-bottom: 1.25rem;
  }
  
  .card__description {
    font-size: var(--small-font-size);
    text-align: initial;
    margin-bottom: 1.25rem;
    opacity: 0;
  }
  
  a .card__button {
    display: block;
    position: relative;
    width: max-content;
    padding: 1.125rem 2rem;
    background: rgb(55, 99, 194);
    color: var(--white-color);
    border-radius: .5rem;
    font-weight: 600;
    transition: .2s;
    opacity: 0;
    border-radius: 5px;
  }
  a:link, a:visited, a:focus {
    position: relative;
    margin: 0%;
    top: 70px;
    text-align: center;
    box-shadow: lightslategrey;
    border-radius: 10px;
    background: rgb(55, 99, 194);
    color: white;
    padding: 15px;
  }
  
  a:hover {
    background: white;
    color: black;
    box-shadow: black;
  }
  
  a:active {
    background: rgb(55, 99, 194);
    color: white;
  }
  
  
  .card__img, 
  .card__data, 
  .card__title, 
  .card__preci, 
  .card__description {
    transition: .5s;
  }
  
  /* Hover card effect */
  .card:hover .card__img {
    transform: translate(-1.5rem, -9.5rem) rotate(-20deg);
  }
  
  .card:hover .card__data {
    transform: translateY(4.8rem);
  }
  
  .card:hover .card__title {
    transform: translateX(-2.3rem);
    margin-bottom: 0;
  }
  
  .card:hover .card__preci {
    transform: translateX(-6.8rem);
  }
  
  .card:hover .card__description, 
  .card:hover .card__button {
    transition-delay: .2s;
    opacity: 1;
  }
